<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<section class="py-5">
  <div class="container">
    <h1 class="mb-4">Our Services</h1>
    <div class="row g-4">
      <div class="col-md-6 " data-aos="fade-up">
        <h4>Residential Construction</h4>
        <ul>
          <li>Custom home construction</li>
          <li>Renovations and remodeling</li>
          <li>Extensions and additions</li>
          <li>Interior fit-outs</li>
        </ul>
        <h4 class="mt-4">Commercial Construction</h4>
        <ul>
          <li>Office buildings and business centers</li>
          <li>Retail and showroom spaces</li>
          <li>Hospitality and leisure facilities</li>
        </ul>
      </div>
      <div class="col-md-6" data-aos="fade-up">
        <h4>Industrial & Infrastructure</h4>
        <ul>
          <li>Warehouses and logistics centers</li>
          <li>Factories and production facilities</li>
          <li>Roads, bridges, and utilities</li>
        </ul>
        <h4 class="mt-4">Value-Added Services</h4>
        <ul>
          <li>Design & build solutions</li>
          <li>Project management</li>
          <li>Cost planning and budgeting</li>
          <li>Maintenance and facility upgrades</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>
